/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Red Hat Display';
	src: url('RedHatDisplay-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Red Hat Display';
	src: url('RedHatDisplay-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Red Hat Display';
	src: url('RedHatDisplay-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}