/******************************************************************************\
|                                                                              |
|                                  sliders.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the visual styling rules used in this application.       |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2023, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

.input {
	text-align: center;

	.values {
		display: flex;
		white-space: nowrap;

		.min {
			float: left;
			text-align: left;
			width: 33%;
			color: darkgrey;
			// color: lighten(blue, 20%);
		}

		.max {
			float: right;
			text-align: right;
			width: 33%;
			color: darkgrey;
			// color: lighten(red, 20%);
		}

		input[type="number"] {
			text-align: center;
			width: 33%;
			-moz-appearance: textfield;

			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				display: none
			}
		}
	}

	input[type="range"] {
		margin-top: 5px;
	}
}

input[type="range"] {
	-webkit-appearance: none;
	background: none;
	padding-top: 5px;

	&::-webkit-slider-runnable-track {
		height: 7px;
		border-radius: 3px;
	}

	&::-moz-range-track {
		height: 7px;
		border-radius: 3px;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
		margin-top: -4px;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
	}

	&::-moz-range-thumb {
		-webkit-appearance: none;
		width: 12px;
		height: 12px;
		margin-top: -4px;
		border-radius: 50%;
		border-width: 1px;
		border-style: solid;
	}
}