/******************************************************************************\
|                                                                              |
|                                 _buttons.scss                                |
|                                                                              |
|******************************************************************************|
|                                                                              |
|        This defines the visual styling rules used in this application.       |
|                                                                              |
|        Author(s): Abe Megahed                                                |
|                                                                              |
|        This file is subject to the terms and conditions defined in           |
|        'LICENSE.txt', which is part of this source code distribution.        |
|                                                                              |
|******************************************************************************|
|     Copyright (C) 2023, Data Science Institute, University of Wisconsin      |
\******************************************************************************/

@use "../colors/colors";
@use "../colors/branding";

//
// variables
//

$border-radius: 5px;

//
// colors
//

$btn-color: colors.$medium-grey;
$btn-primary-color: branding.$primary-color;
$btn-primary-disabled-color: fade-in(branding.$primary-color, 0.5);
$success-color: hsl(150, 60%, 50%);
$warning-color: hsl(0, 60%, 50%);

//
// styles
//

.btn, .btn:focus {
	outline: none !important;
	background: $btn-color;
	border: none;
	border-radius: $border-radius;
	padding: 5px 10px;

	i {
		margin-right: 5px;
	}

	&:hover, &:active, &:active:hover {
		background: darken($btn-color, 10%);
		border-color: darken($btn-color, 10%);
	}
}

.btn-primary, .btn-primary:focus {
	background: $btn-primary-color;
	border-color: $btn-primary-color;

	&:hover, &:active, &:active:hover {
		background: darken($btn-primary-color, 10%);
		border-color: darken($btn-primary-color, 10%);
	}
}

.btn-primary[disabled], .btn-primary:focus[disabled] {
	background: $btn-primary-disabled-color;
	border-color: $btn-primary-disabled-color;

	&:hover, &:active {
		background: darken($btn-primary-disabled-color, 10%);
		border-color: darken($btn-primary-disabled-color, 10%);
	}
}

//
// small buttons
//

.btn.btn-sm {
	width: 25px;
	padding: 0;

	i {
		margin-right: 0;
	}
}

//
// special buttons
//

button {
	&.submit , &.submit:focus {
		color: white;
		background-color: $success-color;

		&:hover {
			background-color: darken($success-color, 10%);
		}

		&:active {
			background-color: darken($success-color, 20%);
		}
	}

	/*
	&.clear, &.clear:focus {
		color: white;
		background-color: $warning-color;

		&:hover {
			background-color: darken($warning-color, 10%);
		}

		&:active {
			background-color: darken($warning-color, 20%);
		}
	}
	*/
}